@import "./vars";

.wrapper {
    display: block;
    padding: 2.4rem 0 3.5rem;
    margin: 8.1rem 0 16rem;
    backdrop-filter: blur(34px);

    .text__wrapper {
        margin-top: 3.2rem;
    }

    .icons__wrapper {
        margin-top: 3.2rem;

        .icon__wrapper {
            width: 9rem;
            height: 8.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }

            .icon {
                // width: 2.2rem;
                // height: 2.2rem;
            }
        }
    }

    .bottom {
        margin-top: 8.8rem;
        position: relative;

        .bottom__content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bottom__logo {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}